# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/.vs
/.vs/fantasy-football-wrapped
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/CodeChunks.db
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/CodeChunks.db-shm
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/CodeChunks.db-wal
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/SemanticSymbols.db
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/SemanticSymbols.db-shm
/.vs/fantasy-football-wrapped/CopilotIndices/17.14.260.54502/SemanticSymbols.db-wal
/.vs/fantasy-football-wrapped/FileContentIndex
/.vs/fantasy-football-wrapped/FileContentIndex/c4bbd694-227f-4bdc-82ce-773fe64a9a55.vsidx
/.vs/fantasy-football-wrapped/v17
/.vs/fantasy-football-wrapped/v17/.wsuo
/.vs/fantasy-football-wrapped/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
